@import './../../styles/variables.module';
@import "./../../styles/mixins.module";


.About {
  min-height: 100vh;
  flex: 1 1 100%;
  justify-content: center;
  align-items: center;
  background-color: $lightGray;
  display: flex;
  flex-direction: column;
  overflow: hidden;


  .popup {
    overflow-x: scroll;
  }


  .wrapper {
    max-width: 880px;
    @include displayFlex(column, center);
    padding: 20px 40px;
    display: flex;
    box-sizing: content-box;

    & .img {
      object-fit: contain;
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }

    & h3 {
      font-size: 1.375rem;
      font-weight: 700;
      letter-spacing: 0.5px;
      align-self: flex-start;
      margin: 30px 0 8px 0;
    }

    & .textWrapper {
      @include displayFlex(row, space-between);
      gap: 50px;

      & .descriptionText {
        width: 45%;
        line-height: 30px;
        font-style: italic;


        & p {
          margin-bottom: 35px;
        }

      }

      & .aboutTextWrapper {
        width: 45%;

        & .aboutText {
          display: grid;
          grid-template-columns: 110px 2fr;

          &Title {
            font-weight: 700;
          }
        }
      }

      & p {
        color: $colorGray;
      }
    }

    @media screen {
      @media (max-width: $maxWidthBreak768) {
        gap: 30px;
        & h3 {
          font-size: 1.75rem;
          align-self: center;
          margin: 0;
        }

        & .textWrapper {
          gap: 20px;
          flex-direction: column;
          align-items: center;


          & .descriptionText {
            display: flex;
            flex-direction: column;
            width: 90%;
            & button{
              align-self: center;
            }

            & p {
              text-align: center;
              margin: 0 0 15px;
            }
          }

          & .aboutTextWrapper {
            width: 85%;
          }
        }

      }
      @media (max-width: $maxWidthBreak480) {
        & h3 {
          font-size: 1.725rem;
        }
      }

    }
  }
}



