@import "./../../styles/mixins.module";
@import "./../../styles/variables.module";

.skills {
  @include displayFlex(column, flex-start);
  align-items: center;
  gap: 20px;
  background: $inputWhite;
  z-index: 10;
  overflow: hidden;
  min-height: 74vh;
  padding: 110px 70px;

  @media screen {
    @media (max-width: $maxWidthBreak992) {
      padding: 50px 60px;
    }
    @media (max-width: $maxWidthBreak650) {
      width: 70vw;
      padding: 30px 30px;
    }
  }
}


.wrapper {
  @include displayFlex(row, space-between);
  align-items: flex-start;
  gap: 110px;
  @media screen {
    @media (max-width: $maxWidthBreak1200) {
      & .skillCard {
        width: 300px
      }
    }
    @media (max-width: $maxWidthBreak1080) {
      gap: 35px;
    }
    @media (max-width: $maxWidthBreak992) {
      flex-direction: column;
      gap: 35px;
      & .skillCard {
        width: 100%
      }
    }
  }
}

.cardContainer {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

  & h3 {
    font-size: 1.5rem;
    text-align: start;
  }

  @media screen {
    @media (max-width: $maxWidthBreak1080) {
      justify-content: center;
      gap: 35px;
    }

    @media (max-width: $maxWidthBreak992) {
      align-items: center;
    }

    @media (max-width: $maxWidthBreak768) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.skillCard {
  width: 380px;
  height: auto;
  box-sizing: border-box;
  @include displayFlex(column, center);
  align-items: flex-start;
  margin-bottom: 15px;
  font-style: italic;

  @media screen {
    @media (max-width: $maxWidthBreak480) {
      width: 310px;
    }
  }

  & .textWrapper {
    @include displayFlex(row, space-between);
    width: inherit;
  }

  & p {
    margin: 5px 0 8px;
  }

  & .line {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.09);

    &Up {
      position: absolute;
      content: '';
      height: 4px;
      background-color: $colorGray;
    }
  }
}

.hardSkillWrapper {
  max-width: 380px;
  @include displayFlex(row, flex-start);
  gap: 10px;
  flex-wrap: wrap;
}

.hardSkillCard {
  & .hardName {
    width: content-box;
    padding: 10px;
    background-color: $colorWhite;
    margin: 0;
  }
}

.factWrapper {
  @include displayFlex(row, space-between);
  @media screen {
    @media (max-width: $maxWidthBreak992) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }
}

.fact {
  box-sizing: border-box;
  width: fit-content;
  min-width: 225px;
  @include displayFlex(column, flex-start);
  align-items: center;
  padding: 20px 40px;
  border: 1px rgba(0, 0, 0, 0.1) solid;

  & h3 {
    margin: 0;
  }
}